/* index HTML */

body {
    background-color: rgb(45, 45, 45);
    /* background-color: white; */
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

h1,
h2 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: gold;
}

a:active {
    color: goldenrod;
}

.username {
    text-align: center;
}

.avatar {
    width: 200px;
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.6);
    display: inline-block;
}

.work {
    background-color: rgb(34, 34, 34);
    width: 100%;
    border: 1px solid gold;
    text-align: center;
}

.work tr:nth-child(2), 
tr:nth-child(3) {
    color: #86898f;
}

.work tr:nth-child(2):hover, tr:nth-child(3):hover {
    color: white;
    border: 1px solid gold;
}

p {
    margin: 0;
    text-indent: 25px;
}

hr {
    border: 1px solid gold;
    height: 1.5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.connect {
    margin-bottom: 15px;
    text-align: center;
}

/* Box style */

.container {
    max-width: 1050px;
    margin: auto;
}

.info {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border-bottom: 1px solid rgb(45, 45, 45);
}

@keyframes changeColor {
    0% {
        border-bottom: 1px solid rgb(45, 45, 45);
    }
    100% {
        border-bottom: 1px solid gold;
    }
  }

.info-content {
    text-align: center;
}

.username-info {
    display: inline-block;
    text-align: left;
}

@media (max-width: 700px) {
    .info-content {
        display: block;
        text-align: center;
    }
    .info {
        display: block;
        text-align: center;
    }
}

.info:hover {
    border-bottom: 1px solid gold;
    animation: changeColor 1s;
}

.techSkills {
    margin-bottom: 15px;
    padding: 15px;
    border-bottom: 1px solid rgb(45, 45, 45);
}

.techSkills:hover {
    border-bottom: 1px solid gold;
    animation: changeColor 1s;
}

.ed {
    margin-bottom: 15px;
    padding: 15px;
    border-bottom: 1px solid rgb(45, 45, 45);
}

.ed:hover {
    border-bottom: 1px solid gold;
    animation: changeColor 1s;
}

.hobby-info {
    text-align: center;
}

.hobby-content {
    display: flex;
    width: 100%;
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin-right: 20px;
    background-color: rgb(34, 34, 34);
}

.portfolio {
    padding-right: 15px;
}

.hobby-content:hover {
    border: 1px solid gold;
}

.tel {
    width: 50px;
    margin: auto;
    margin-bottom: 25px;
}

.footer_line {
    width: 100%;
    height: 10px;
    color: #000;
    border: none;
}

.footer {
    border-bottom: 1px solid gold;
}

.footer_content {
    display: grid;
    grid-template-areas: "teleg vkon git youtube letres";
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer_content p {
    margin-bottom: 15px;    
}

.footer_content img {
    width: 50px;
    padding: 15px;
}

.git {
    width: 50px;
}


/* Блок стилей для формы обратной связи */
.form-group label {
    display: block;
    font-size: 14px;
}

.form-group input, textarea {
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gold;
    outline: none;
    color: beige;
    padding: 15px 0 10px;
    font-family: inherit;
    margin-bottom: 10px;
}

.row {
    display: flex;
    margin-bottom: 20px;
} 

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row > .form-group:last-child {
    margin: 0;
}

.btn {
    width: 150px;
    height: 50px;
    align-items: center;
    background-color: rgb(34, 34, 34);
    color: gold;
    border: 1px solid gold;
    cursor: pointer;
}